body {
    background-color: rgb(96, 207, 221);
    font-family: 'Oswald', sans-serif;
}

.credential-container {
    font-weight: bold;
    background-color: rgb(6, 31, 41);
    margin: 30px 40%;
    padding: 50px;
    border-radius: 20px;
    min-width: 300px;
}

/* Input fields */
.input {
    line-height: 1.5rem;
    min-width: 250px;
    border: none;
    border-radius: 2px;
}

/* Login Button */
.loginBtn {
    width: 250px;
    border-radius: 20px;
    line-height: 1.5rem;
    color: rgb(0, 0, 255);
}

/* Forget Password div */
.forgotPwdDiv {
    text-align: end;
}
